<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.online_xdclass.mapper.EpisodeMapper">


    
    <select id="findFirstEpisodeByVideoId" resultType="Episode">

        select  * from episode where video_id = #{video_id} and num = 1

    </select>

</mapper>