<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.online_class.mapper.PlayRecordMapper">



    <insert id="saveRecord" useGeneratedKeys="true" keyProperty="id" keyColumn="id">

          INSERT INTO `play_record` ( `user_id`, `video_id`, `current_num`, `episode_id`, `create_time`)
          VALUES (#{userId},#{videoId},#{currentNum},#{episodeId},#{createTime});

    </insert>

</mapper>